<div class="sidebar">
  <p>Navigation</p>
  <ul>
    <li><a routerLink="/admin/userPage" routerLinkActive='active' routeLinkActiveOptions="{exact:true}" ><i class="fa fa-user"></i>User</a></li>
    <li><a routerLink="/admin/mission" routerLinkActive='active' routeLinkActiveOptions="{exact:true}"><i class="fa fa-bullseye"></i>Mission</a></li>
    <li><a routerLink="/admin/missionTheme" routerLinkActive='active' routeLinkActiveOptions="{exact:true}"><i class="fa fa-shekel"></i>Mission Theme</a></li>
    <li><a routerLink="/admin/missionSkill" routerLinkActive='active' routeLinkActiveOptions="{exact:true}"><i class="fa fa-wrench"></i>Mission Skills</a></li>
    <li><a routerLink="/admin/missionApplication" routerLinkActive='active' routeLinkActiveOptions="{exact:true}"><i class="fa fa-folder"></i>Mission Application</a></li>
  </ul>
</div>
