<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-flex col-md-6 col-lg-9 bg-image">
      <img src="assets/Images/image.png" alt="No Image">
      <div class="carousel-caption d-md-block">
        <p class="heading">Sed ut perspiciatis unde omnis
          iste natus voluptatem.</p>
        <p class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="login d-flex align-items-center">
        <div class="container" >
          <div class="row">
            <div class="col-md-9 col-lg-8" style="margin-left: 7%;">
                <p class="Forgot">New Password</p>
                <div class="ForgotContent">
                    Please enter a new password in the fields below.
                </div>
                <form [formGroup]="resetForm" (ngSubmit)="OnSubmit()">
                <div class="form-group">
                  <label class="col-form-label">New Password</label>
                  <input type="password" formControlName="password" class="form-control" placeholder="**********" autofocus>
                  <span class="text-danger" *ngIf="password.invalid && (password.touched || formValid)">
                      <span *ngIf="password.errors?.['required']">
                        Please Enter Password
                      </span>
                      <span *ngIf="password.errors?.['minLength']">
                        Password should not be less than 5 character
                      </span>
                      <span *ngIf="password.errors?.['maxLength']">
                        Password should not be greater than 10 character
                      </span>
                  </span>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Confirm New Password</label>
                  <input type="password" class="form-control" formControlName="confirmPassword" placeholder="**********">
                  <span class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.touched || formValid)">
                    <span *ngIf="confirmPassword.errors?.['required']">
                      Please Enter Confirm Password
                    </span>
                  </span>
                  <span class="text-danger" *ngIf="resetForm.hasError('notmatched') && confirmPassword.valid">
                    Password and Confirm Password not matched
                  </span>
                </div>
                <div class="d-grid mt-5">
                  <button class="btn-login" type="submit"><span class="Login">Change Password</span></button>
                  <div class="text-center">
                    <p class="small" routerLink='../'>Login</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div style="text-align: center;">
            <p>Privacy Policy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
