.login {
  min-height: 100vh;
  padding-top: 200px;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.col-form-label{
  width: 201px;
  height: 14px;
  margin: 0 36px 12px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #414141;
}

.form-control{
  width: 401px;
  height: 56px;
  /* margin: 12px 0 27px;
  padding: 20px 186px 19px 15px;*/
  margin-top: 15px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(43, 100, 177, 0.12);
  border: solid 1px #2b64b1;
  background-color: #fff;
}

.btn-login {
  width: 401px;
  height: 48px;
  border-radius: 24px;
  border: solid 2px #f88634;
  background-color: white;
}

.Login{
  width: 43px;
  height: 18px;
  font-family: NotoSans;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f88634;
}

.small{
  width: 325px;
  height: 12px;
  margin: 12px 68px 234px 27px;
  font-size: 16px;
  font-weight: 400;
  color: #414141;
  cursor: pointer;
}


.heading{
  width: 615px;
  height: 95px;
  margin: 0 231px 29px 2px;
  font-family: NotoSans;
  font-size: 43px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.content{
  width: 848px;
  height: 101px;
  margin: 29px 0 54px;
  font-family: NotoSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}


.Forgot{
  width: 191px;
  height: 22px;
  margin: 0 115px 10px 120px;
  font-size: 25px;
  font-weight: 400;
  color: #414141;
}

.ForgotContent{
  width: 389px;
  height: 32px;
  margin: 10px 7px 36px 5px;
  font-size: 16px;
  font-weight: 400;

  text-align: center;
  color: #414141;
}
