<div class="container-fluid">
  <app-sidebar></app-sidebar>
   <div class="content">
    <app-header></app-header>
      <div class="info">
        <div class="card">
            <div class="card-header">
              Add
            </div>
            <div class="card-body">
              <form [formGroup]="addMissionThemeForm">
                <div class="row" style="padding: 3px 10px 3px 10px;">
                  <input type="hidden" formControlName="id">
                  <div class="form-group">
                    <label class="col-form-label">Theme Name</label>
                    <input type="text" formControlName="themeName" class="form-control" [class.error]="addMissionThemeForm.controls['themeName'].dirty && addMissionThemeForm.hasError('required','themeName')">
                    <span class="text-danger" *ngIf="addMissionThemeForm.controls['themeName'].dirty && addMissionThemeForm.hasError('required','themeName')">
                      ThemeName is required
                    </span>
                  </div>
                  
                </div>
              </form>
            </div>
        </div>
        <div class="row justify-content-end">
          <button class="btnCancel" (click)="OnCancel()"><span class="cancel">Cancel</span></button>
          <button class="btnSave" (click)="OnSubmit()"><span class="save">Save</span></button>
        </div>
       <div>
       </div>
     </div>
   </div>
 </div>

